---
const STRAPI_URL = 'https://krea-back-repo-production.up.railway.app';

function getImageUrl(imageObject) {
  if (!imageObject || !imageObject.data || !imageObject.data.attributes || !imageObject.data.attributes.url) {
    return 'https://via.placeholder.com/300x300';
  }
  const imageUrl = imageObject.data.attributes.url;
  return `${STRAPI_URL}${imageUrl}`;
}

async function getPosts() {
  try {
    const apiUrl = new URL('https://krea-back-repo-production.up.railway.app/api/posts?populate=*');
    const response = await fetch(apiUrl.toString(), {cache: 'no-store'});
    const { data } = await response.json();
    return data.slice(0, 4);
  } catch (error) {
    console.error('Error fetching posts:', error);
    return [];
  }
}

const posts = await getPosts();
---

<section class="achievements-section">
  <div class="achievements-grid">
    {posts.map((post) => (
      <a href={`/convocatorias/${post.attributes.slug}`} class="achievement-item">
        <img 
          src={getImageUrl(post.attributes.featuredimage)} 
          alt={post.attributes.title} 
        />
        <div class="achievement-overlay">
          <h3>{post.attributes.title}</h3>
        </div>
      </a>
    ))}
  </div>
</section>

<style>
  .achievements-section {
    padding: 1rem 0rem 4rem 0rem;
    text-align: center;
  }

  h2 {
    color: #007bff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .achievements-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajusta la cantidad de columnas según prefieras */
    gap: 2rem; /* Aumenta el espacio entre las cards */
    max-width: 1140px;
    margin: 0 auto;
  }

  .achievement-item {
    aspect-ratio: 3 / 2; /* Ajusta la proporción de la card */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    transition: transform 0.3s ease;
  }

  .achievement-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .achievement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .achievement-overlay h3 {
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }

  .achievement-item:hover .achievement-overlay {
    opacity: 1;
  }

  .achievement-item:hover {
    transform: scale(1.03);
  }

  @media (max-width: 1024px) {
    .achievements-grid {
      grid-template-columns: repeat(3, 1fr); /* Ajusta la cantidad de columnas según prefieras */
    }
  }

  @media (max-width: 768px) {
    .achievements-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .achievements-grid {
      grid-template-columns: 1fr;
    }

    .achievements-section {
      padding: 1rem 0rem 4rem 0rem;
    }
  }
</style>