<div class="cards-container">
    {posts.slice().reverse().map((post) => (
      <div class="card">
        <a href={`/convocatorias/${post.attributes.slug}`} title={post.attributes.title}>
          <img 
            src={getImageUrl(post.attributes.featuredimage)} 
            alt={post.attributes.title} 
          />
        </a>
        <span class="category">
          <a href="#">{post.attributes.category?.data?.attributes?.Name || 'Sin categoría'}</a>
        </span>
        <div class="details">
          <h3>
            <a href={`/convocatorias/${post.attributes.slug}`}>{post.attributes.title}</a>
          </h3>
          <div class="meta">
            <span class="author">
              <i class="fa fa-user" aria-hidden="true"></i> By 
              <a href="#">{post.attributes.author?.data?.attributes?.Name || 'Autor Desconocido'}</a>
            </span>
            <span class="date">
              <i class="fa fa-calendar-alt" aria-hidden="true"></i> {new Date(post.attributes.publishedAt).toLocaleDateString()}
            </span>
          </div>
        </div>
      </div>
    ))}
  </div>