---
export const prerender = true;
import BlogPost from '../../components/BlogPost.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';

export async function getStaticPaths() {
  console.log('Executing getStaticPaths');
  try {
    const response = await fetch('https://krea-back-repo-production.up.railway.app/api/posts?populate=*');
    const { data } = await response.json();
    console.log('API response data:', data);
    if (!data || data.length === 0) {
      console.error('No data received from API');
      return [];
    }
    return data.map((post) => {
      console.log('Mapping post:', post);
      return {    
        params: { slug: post.attributes.slug },
        props: { post }
      };
    });
  } catch (error) {
    console.error('Error in getStaticPaths:', error);
    return [];
  }
}

const { post } = Astro.props;
console.log('Received post in component:', post);



let title, content, publishedAt, featuredimage, category, author, excerpt, featuredImageUrl;

if (post && post.attributes) {
  ({ title, content, publishedAt, featuredimage, category, author, excerpt } = post.attributes);
  
  

  featuredImageUrl = featuredimage.data.attributes.url;
  console.log(featuredImageUrl)
  
  if (featuredImageUrl && !featuredImageUrl.startsWith('http')) {
    featuredImageUrl = `https://krea-back-repo-production.up.railway.app${featuredImageUrl}`;
  }
  
  console.log('Featured Image URL:', featuredImageUrl);
} else {
  console.error('Post or post attributes are undefined');
}

---

<DefaultLayout>
  {post && post.attributes ? (
    <BlogPost 
      title={title}
      publishedAt={publishedAt}
      content={content}
      featuredimage={featuredImageUrl}
      category={category}
      author={author}
      excerpt={excerpt}
    />
  ) : (
    <p>Error: No se pudo cargar el post.</p>
  )}
</DefaultLayout>